.box{
  background-color: rgb(14, 14, 14);
  height: 100%;
  margin: 10px;
  border-radius: 10px;
  width: inherit;
  color: white;
  padding: 10px;
  overflow: auto;
}

.box::-webkit-scrollbar {
  width: 5px;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); 
  border-radius: 10px;
}

.box::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgb(70, 70, 70);
}

.box-ele{
  padding: 17px 0px 17px 20px;
  margin: 10px 5px 10px 5px;
  background-color: rgba(255, 255, 255, 0.082);
  border-radius: 7px;
}